body {
    font-family: sans-serif;
    background-color: azure;
}

article {
    opacity: initial;
}
.container {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.4;
}

.claimer {
    color: dimgray;
    font-family: Serif;
    font-size: 0.7rem;
}

h1,h2,h3,h4,h5,h6 {
    color: #1c605a;
    position: relative;
    z-index: 2;
}